body {
  --color-red: #5A1E1C;
  --color-green: #2B5A1C;
  
  --sprite-size: 64px;
  --item-image-margin: 5px;
  --reward-margin: 20px;

  padding: 20px 40px;
  
  background-color: #AAAAAA;
  background-image: url('img/tinkerer-floor-pattern.png');
  background-repeat: repeat;
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body a {
  color: #FFFFFF;
  text-decoration: underline;
}

.sprite {
  width: var(--sprite-size);
}

.module {
  display: block;
  margin: 20px auto;
  width: calc(
    /* 9 Items and their margins */
    9 * (var(--sprite-size) + 2 * var(--item-image-margin)) +
    /* Space before rewards */
    var(--reward-margin) +
    /* Rewards max size */
    2 * var(--sprite-size) +
    /* Not sure where this comes from */
    var(--item-image-margin));
  
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.module a {
}

#content {
  user-select: none;
  background-color: #363636;
}

.row {
  display: block;
}

.item {
  display: inline-block;
  margin: var(--item-image-margin);
  background-color: #545454;
}

.item.missing,
.rewards.missing {
  background-color: var(--color-red);
}

.item.enough,
.rewards.complete {
  background-color: var(--color-green);
}

.item.enough .itemImage {
  filter: grayscale(100%);
  opacity: .45;
}

.quantityContainer {
  display: block;
  max-width: var(--sprite-size);
  padding: 5px 0px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.quantity {
  display: inline-block;
  margin: 0px 5px;
}

.quantityButton {
  display: inline-block;
  font-size: 0.7em;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
}

.quantityButton:hover {
  box-shadow: 0px 0px 2px black;
}

.quantityButton.disabled {
  opacity: 0.3;
}

.rewards {
  display: inline-block;
  vertical-align: top;
  margin-left: var(--reward-margin);
  margin-top: 6px;
  box-shadow: 0px 0px 5px black;
}

.rewards .progressBarContainer {
  display: block;
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, .3);
}

.rewards .progressBar {
  width: 0%; /* Initial value */
  height: 100%;
  background-color: var(--color-green);
}

#config label {
  display: block;
  margin: 4px;
}

#config .label {
  display: inline-block;
  width: 200px;
}

#config input {
  width: 60px;
  padding: 0px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
}

#config input:disabled {
  color: #000000;
  border: none;
}

#export button {
  padding: 3px 10px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 2px outset #F0F0F0;
  border-radius: 5px;
}

#export button:hover {
  background-color: var(--color-green);
}

#footer {
  color: rgba(255, 255, 255, .7);
  font-size: 0.7em;
  text-align: right;
}
