/* Common variables */
body {
  --color-red: #5A1E1C;
  --color-green: #2B5A1C;
  --color-bubble: #FFFFDD;
  --color-grey-background: #363636;
}

/* Variables for large windows */
body {
  --sprite-size: 64px;
  --item-image-margin: 5px;
  --reward-margin: 20px;
  --main-font-size: 1em;
  --bubble-padding: 15px;
}

/** Variables for medium windows */
@media all and (max-width: 900px) {
  body {
    --sprite-size: 48px;
    --item-image-margin: 4px;
    --reward-margin: 15px;
    --main-font-size: .8em;
    --bubble-padding: 12px;
  }
  .githubBanner {
    transform: scale(.7);
  }
}

/** Variables for small windows */
@media all and (max-width: 700px) {
  body {
    --sprite-size: 32px;
    --item-image-margin: 3px;
    --reward-margin: 10px;
    --main-font-size: .6em;
    --bubble-padding: 10px;
  }
  .githubBanner {
    transform: scale(.6);
  }
}

/** Variables for tiny windows */
@media all and (max-width: 530px) {
  body {
    --sprite-size: 24px;
    --item-image-margin: 2px;
    --reward-margin: 10px;
    --main-font-size: .55em;
    --bubble-padding: 5px;
  }
  .githubBanner {
    transform: scale(.5);
  }
}

body {
  padding: 20px 10px;
  
  background-color: #AAAAAA;
  background-image: url('img/tinkerer-floor-pattern.png');
  background-repeat: repeat;
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--main-font-size);
  font-weight: 300;
}

body a {
  color: #FFFFFF;
  text-decoration: underline;
}

#unsupportedBrowser {
  padding: 200px 0;
  text-align: center;
}

.tinkererContainer {
  display: flex;
}

.tinkerer.sprite {
  flex-shrink: 0;
  flex-grow: 0;
}

.tinkerer-bubble {
  position: relative;
  width: auto;
  flex-shrink: 1;
  flex-grow: 0;
  padding: var(--bubble-padding) calc(2 * var(--bubble-padding));
  border-radius: var(--bubble-padding);
  margin-left: calc(3 * var(--bubble-padding));
  background-color: var(--color-bubble);
  color: var(--color-red);
  opacity: 0;
}

.tinkerer.sprite:hover + .tinkerer-bubble {
  opacity: 1;
}

.tinkerer-bubble:after {
  content: '';
  position: absolute;
  top: 30%;
  left: calc(-2 * var(--bubble-padding));
  border-color: transparent var(--color-bubble);
  border-style: solid;
  border-width:
      calc(0.6 * var(--bubble-padding))
      calc(2 * var(--bubble-padding))
      calc(0.6 * var(--bubble-padding))
      0;
}

.sprite {
  width: var(--sprite-size);
  height: var(--sprite-size);
}

.sprite.emoji {
  width: 32px;
  height: 32px;
  vertical-align: bottom;
}

.module {
  display: block;
  margin: 20px auto;
  width: calc(
    /* 9 Items and their margins */
    9 * (var(--sprite-size) + 2 * var(--item-image-margin)) +
    /* Space before rewards */
    var(--reward-margin) +
    /* Rewards max size */
    2 * var(--sprite-size) +
    /* Not sure where this comes from */
    5px);
  
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

#content {
  user-select: none;
  background-color: var(--color-grey-background);
}

.row {
  display: block;
}

.item {
  display: inline-block;
  margin: var(--item-image-margin);
  background-color: #545454;
}

.item.missing,
.rewards.missing {
  background-color: var(--color-red);
}

.item.enough,
.rewards.complete {
  background-color: var(--color-green);
}

.item.enough .itemImage {
  filter: grayscale(100%);
  opacity: .45;
}

.quantityContainer {
  display: flex;
  max-width: var(--sprite-size);
  padding: 5px 0px;
  justify-content: space-between;
  font-size: 1.2em;
}

.quantity {
  display: inline-block;
  margin: 0px 2px;
  font-weight: bold;
}

.quantityButton {
  display: inline-block;
  font-size: 0.7em;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
}

.quantityButton:hover {
  box-shadow: 0px 0px 2px black;
}

.quantityButton.disabled {
  opacity: 0.3;
}

.rewards {
  display: inline-block;
  vertical-align: top;
  margin-left: var(--reward-margin);
  margin-top: 6px;
  box-shadow: 0px 0px 5px black;
}

.rewards .progressBarContainer {
  display: block;
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, .3);
}

.rewards .progressBar {
  width: 0%; /* Initial value */
  height: 100%;
  background-color: var(--color-green);
}

#config label {
  display: block;
  margin: 4px;
}

#config .label {
  display: inline-block;
  width: 200px;
}

#config input {
  width: 60px;
  padding: 0px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
}

#config-vault-chests-visual {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

#export button {
  padding: 3px 10px;
  margin: 2px 5px;
  background-color: #FFFFFF;
  color: #555555;
  font-weight: 500;
  cursor: pointer;
  border: 2px outset #F0F0F0;
  border-radius: 5px;
}

#export button:hover {
  background-color: #D0D0D0;
  color: #000000;
}

#footer {
  color: rgba(255, 255, 255, .7);
  font-size: 0.7em;
  text-align: right;
}

.githubBanner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  transform-origin: right top;
}

.popup {
  display: block;
  min-width: 100px;
  max-width: 300px;
  position: fixed;
  left: 15px;
  
  padding: 5px 10px;
  border: 2px solid var(--color-red);
  background-color: #504538;
  color: #D1D1D1;
}

.popup {
  animation-duration: 4.5s;
  animation-name: popUp;
  animation-fill-mode: both;
}

@keyframes popUp {
    0% { bottom: -100px; opacity: .1; }
   10% { bottom:   25px; opacity:  1; }
   90% { bottom:   25px; opacity:  1; }
  100% { bottom: -100px; opacity: .1; }
}

#hoverInfo {
  position: fixed;
  
  width: 250px;
  
  padding: 10px;
  border: 2px solid #888;
  background-color: var(--color-grey-background);
  border-radius: 10px;
  color: #D1D1D1;
  font-size: 15px;
}

#hoverInfo .section {
  padding: 13px 0px;
  border-top: 3px solid black;
}

#hoverInfo .section.header {
  padding-top: 0px;
  border-top: none;
}

#hoverInfo .section.header {
  display: flex;
  flex-wrap: wrap;
}

#hoverInfo .section:last-of-type {
  padding-bottom: 0px;
}

#hoverInfo .name {
  flex-grow: 1;
  max-width: 150px;
  padding: 0px 15px 0px 5px;
}

#hoverInfo .name,
#hoverInfo .tier {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}

#hoverInfo .tier {
  flex-grow: 1;
  text-align: right;
}

#hoverInfo .description {
  width: 100%;
  padding-top: 8px;
}
