body {
  --color-red: #FFAAAA;
  --color-green: #AAFFAA;
  
  --sprite-size: 64px;
  --item-image-margin: 5px;
  
  background-color: #AAAAAA;
  padding: 20px 40px;
  font-family: Helvetica, Arial, sans-serif;
}

.sprite {
  width: var(--sprite-size);
}

#content,
#config,
#export {
  display: block;
  margin: 20px auto;
  width: auto;
  
  padding: 30px;
  background-color: #FFFFFF;
}

#content {
  user-select: none;
}

.row {
  display: block;
}

.item {
  display: inline-block;
  margin: var(--item-image-margin);
  box-shadow: 0px 0px 5px black;
  background-color: #FFFFFF;
}

.item.missing {
  background-color: var(--color-red);
}

.item.enough {
  background-color: var(--color-green);
}

.item.enough .itemImage {
  filter: grayscale(100%);
  opacity: .4;
}

.quantityContainer {
  display: block;
  max-width: var(--sprite-size);
  padding: 5px 0px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #FFFFFF;
}

.quantity {
  display: inline-block;
  margin: 0px 5px;
}

.quantityButton {
  display: inline-block;
  font-size: 0.7em;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
}

.quantityButton:hover {
  box-shadow: 0px 0px 2px black;
}

.quantityButton.disabled {
  opacity: 0.3;
}

.rewards {
  margin: 10px;
  display: inline-block;
  box-shadow: 0px 0px 5px black;
}

.rewards.complete {
  background-color: var(--color-green);
}

.rewards .progressBarContainer {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #CCCCCC;
}

.rewards .progressBar {
  width: 0%; /* Initial value */
  height: 100%;
  background-color: var(--color-green);
}

#config label {
  display: block;
  margin: 4px;
}

#config .label {
  display: inline-block;
  width: 200px;
}

#config input {
  width: 60px;
  padding: 0px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
}

#export button {
  padding: 3px 10px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 2px outset #F0F0F0;
  border-radius: 5px;
}

#export button:hover {
  background-color: var(--color-green);
}
